body{
    margin: 0;
    background-image: url(back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#clock-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    border: 2px solid;
    height: 100vh
}
#clock{
    font-family: monospace ;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    color: wheat;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.171);
    backdrop-filter: blur(3px);
}

